<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Hover on a link and press</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Shift</string>
		<key>Key</key>
		<string>hotKey</string>
		<key>Title</key>
		<string>the key</string>
		<key>Titles</key>
		<array>
			<string>⇧ Shift</string>
			<string>⌃ Control</string>
			<string>⌥ Option (Alt)</string>
			<string>⌘ Command</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>Shift</string>
			<string>Control</string>
			<string>Alt</string>
			<string>Meta</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>Then refresh the page to take affect.</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
</array>
</plist>
